<div class="panel">
    <h4 style="margin-left: 10px;">Image Overlay</h4>
    <div style="text-align: left; margin-left: 15px;">
        <input type="file" (change)="LoadImage($event)">
    </div>
    <div style="text-align: left; margin-left: 10px;">
        <button class="btnImage" (click)="rotate()">Rotate Image</button>
    </div>
    <div style="text-align: center;">
        <button class="btnImage" (click)="move()">Move Image</button>
    </div>
    <div style="text-align: center;">
        <button class="btnImage" (click)="scale()">Scale Image</button>
    </div>
</div>
<div id="map"></div>