@import "./assets/leaflet.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.my-div-icon {
  width: 25px;
  height:25px;
  background: red;
  border: 1px solid white;
  border-radius: 50%;
}

.leaflet-container {
  cursor: default !important;
}